table inet xray {
    chain prerouting {
        type filter hook prerouting priority mangle;

        ip daddr 127.0.0.0/8 return
        ip daddr 192.168.0.0/16 return
        ip6 daddr ::1 return
        ip6 daddr fd00::/8 return

        meta l4proto {tcp, udp} tproxy ip to 127.0.0.1:1090 mark set 1
        meta l4proto {tcp, udp} tproxy ip6 to [::1]:1090 mark set 1
    }

    chain output {
        type route hook output priority mangle;

        mark 2 return
        ip daddr 127.0.0.0/8 return
        ip daddr 192.168.0.0/16 return
        ip6 daddr ::1 return
        ip6 daddr fd00::/8 return

        meta l4proto {tcp, udp} mark set 1
    }
}
